@tailwind base;
@tailwind components;
@tailwind utilities;

*,
::after,
::before {
  box-sizing: border-box;
}

body {
  background: linear-gradient(
    115.8deg,
    rgb(0, 0, 0) 5.1%,
    rgb(27, 50, 124) 20.5%,
    rgb(6, 9, 18) 70.5%
  );
  min-height: 100vh;
}

.img-slider-btn:hover {
  background-color: rgb(0, 0, 0, 0.2);
}

.swiper-pagination {
  position: relative !important;
}
