@tailwind base;
@tailwind components;
@tailwind utilities;

*,
::after,
::before {
  box-sizing: border-box;
}

body {
  background: linear-gradient(
    155.8deg,
    rgb(8, 4, 4) 12.1%,
    rgb(36, 41, 65) 50.5%,
    rgb(13, 16, 25) 70.5%
  );
  min-height: 100vh;
  user-select: none;
}

.swiper-pagination {
  position: relative !important;
}

.swiper-pagination-bullet-active {
  background-color: rgb(255, 255, 255) !important;
}

.swiper-pagination-bullet {
  background-color: rgb(70, 76, 81);
  opacity: 1;
}

.swiper-slide {
  opacity: 0.25;
}
.swiper-slide-visible {
  opacity: 1;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
